#header-sec {
  background-color: #120078;
  text-align: center;
  color: white;
  padding-bottom: 5%;
  overflow: hidden;
}

#header-sec h1 {
  padding-top: 4%;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-weight: bolder;
  font-size: 4rem;
}

#header-sec img {
  width: 15%;
  /* border: 5px solid rgb(105, 9, 9); */
  border-radius: 150% 150%;
  padding-top: 3rem;
}

#owner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* background-color: #e4f9ff; */
  /* background-color: #FFE194; */
  /* background-color: #; */
  align-items: center;
  text-align: center;
  /*padding: 4rem 15rem 2rem 20rem;*/
  margin-top: 3rem;
}
#owner img {
  width: 15rem;
  height: 20rem;
  float: left;
  margin-right: 2rem;
}
#owner-info {
  display: inline-block;
  padding:0.5rem 4rem;
}

.sponser {
  background-color: #aee6e6;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 100px; */
  margin: 2rem auto 2rem auto;
}

.card1,
.card2 {
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 2rem 6rem;
}

.sponser-img1 {
  width: 20.5rem;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.foot {
  position: fixed;
  bottom: 0;
  overflow: auto;
}
.head{
  position: fixed;
  top: 0;
}
#mapEmbeded {
  height: 5rem;
  width: 5rem;
}


.footerbg {
  background-color: #09015f;
}
.iconsProp {
  display: inline-block;
  width: 1.5rem;
  margin-right: 1rem;
}

#carosel {
  margin: 2rem auto;
  width: 75%;
  padding: 0 2rem;
}
#carouselExampleIndicators{
  z-index: -1;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  color: white;
  font-size: 1.5rem;
}

html {
  margin: 0;
  padding: 0;
  size: 0;
}
.shape{
  overflow: hidden;
}

/* .shapeProp {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.568);
  border-radius: 50%;
  position: absolute;
} */
.shapeProp {
  display: inline-block;
  width: 13rem;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.568);
  border-radius: 50%;
  position: absolute;
}
.s1{
  position: absolute;
  top: 30rem;
  left: 16px;
}
/* .s2{
  position: absolute;
  top: 2rem;
  right: 25rem;
} */
.s2 {
  position: absolute;
  top: -2rem;
  left: -2rem;
  transform: rotate(-43deg);
  z-index: 1;
}
/* .s3{
  position: absolute;
  top: 10rem;
  right: 30rem;
} */
.s3 {
  position: absolute;
  top: 12rem;
  right: 1rem;
  transform: rotate(19deg);
}
/* .s4{
  position: absolute;
  top: 4rem;
  left: 50rem;
} */
/* .s4 {
  position: absolute;
  top: 30rem;
  left: 16rem;
} */
.s4 {
  position: absolute;
  top: 15rem;
  left: 16rem;
  transform: rotate(-8deg);
}
.navcol{
  background-color: #120078;
}
#navbar_area{
/* padding-top: 1rem; */
position: sticky;
}
#reachUs{
  background-color: #F1F1F1;
}
.col{
  overflow: auto;
}
